body
{
    background-color: #303030;
    margin: 0;
    color: white;
}

html
{
    scroll-behavior: smooth;
}

h1.Logo
{
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 40px;

}

nav
{
    background-color: #1c74b2;
    text-align: center;
    position: sticky;
    top: 0;
}

.menu a
{
    text-decoration: none;
    color: white;
}
.menu a:hover
{
    color: #0a2b42;
}

.menu
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height:200%;
}

.menu > li
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right:1px dashed #0a2b42 ;


}

.menu > li:first-child
{
    border-left:1px dashed #0a2b42;
}

.categories
{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    padding: 0px;
}

h1
{
    font-size: 44px;
    font-weight: 400;
    color: #39a5f1;
    margin: 20px;
    font-family: Pt Serif;
}

.authors
{
    display: inline-block;
    margin-top: 10px;

}
.authors a
{
    opacity: 0.9;

}

.authors a:hover
{
    opacity: 1;
}

figure
{
    margin:8px;
    padding: 0;
}

figcaption
{
    margin-top: 8px;
    padding: 0;
}

.entries
{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
}

#newest
{
    background-color: #191d21;
}
.entry
{
    background-color: #222930;
    padding: 10px;
    text-align: justify;
    margin-top: 40px;
    border-radius: 5px;
}

.entryimg
{
    display:inline-block;
    margin-left: 30px;
    width: 120px;
}

.entryimg img
{
    width: 90px;
    height: 90px;
}

.entrytext
{
    display:inline-block;
    width:750px;
    font-size: 17px;
}

h2
{
    font-size: 20px;
    font-weight: 400;
    color: #39a5f1;
}

.contact
{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.contact p
{
    margin-bottom: 40px;
}

.bluebutton
{
    background-color: #1c74b2;
    padding: 15px;
    color: #efefef;
    font-size: 19px;
    text-decoration: none;
    border-radius: 5px;
    min-width: 300px;
}

.bluebutton:hover
{
    color: #0a2b42;
    background-color: #0b63a1;
}

.socials
{
    width: 100%;
    text-align: center;
    background-color: #191d21;

}

.social-divs
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.footer
{
    text-align: center;
    padding: 20px;
    background-color: #222222;
}

.fb
{
    width: 250px;
    height: 155px;
    float : left;
}

.fb:hover
{
    cursor: pointer;
    background-color: #4668b3;
}

.yt
{
    width: 250px;
    height: 155px;
    float : left;
}

.yt:hover
{
    cursor: pointer;
    background-color: #d94348;
}

.gplus
{
    width: 250px;
    height: 155px;
    float : left;
}

.gplus:hover
{
    cursor: pointer;
    background-color: #d95333;
}

.twitter
{
    width: 250px;
    height: 155px;
    float : left;
}

.twitter:hover
{
    cursor: pointer;
    background-color: #3095d3;
}

